.common_input {
    background-color: antiquewhite;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 8px;
    margin-right: 10px;
    border: none;
    outline: none;
}
.input_wrapper {
    position: relative;
}
.input_wrapper p{
    position: absolute;
    left: 0;
    top: -40px;
    color: white;
}
